@model ProjectBrightSun.Models.Category
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <input asp-for="About" class="form-control" />
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAt" class="control-label"></label>
                    <input asp-for="CreateAt" class="form-control" />
                    <span asp-validation-for="CreateAt" class="text-danger"></span>
                </div>
                <div class="form-group hide">
                    <label asp-for="CreateBy" class="control-label"></label>
                    <input type="hidden" asp-for="CreateBy" class="form-control"  />
                    <span asp-validation-for="CreateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpeateBy" class="control-label"></label>
                    <input asp-for="UpeateBy" class="form-control" />
                    <span asp-validation-for="UpeateBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeleteAt" class="control-label"></label>
                    <input asp-for="DeleteAt" class="form-control" />
                    <span asp-validation-for="DeleteAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeleteBy" class="control-label"></label>
                    <input asp-for="DeleteBy" class="form-control" />
                    <span asp-validation-for="DeleteBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else
{ 
<div>please login</div>
}
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
