<div style="background-color: #f4f3ef; padding: 20px;    min-height: 100vh;" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Groups</h5>
                    <p class="card-category">We are feeling glad to tell our available different verity of foods.
                        Please go throu our verity to grab the details. </p>
                </div>
                <div class="card-body">
               
                    <ngb-tabset>
                        <div *ngFor="let foodGroup of foodGroupItem; let i = index;">
                            <ngb-tab [title]="foodGroup.GroupName">
                                <ng-template ngbTabContent>
                                    <div class="row" style="padding:20px;">
                                        <div class="col-md-4">
                                        <img [src]="foodGroup.Image" style=" width: 100%;">
                                        </div>
                                        <div class="col-md-8">
                                            <div *ngFor="let item of foodGroup.foodItems">
                                                <div class="row">
                                                    <div class="col-md-3" style="padding: 20px; padding-top: 0px;">
                                                        <img [src]="item.Image"/>
                                                    </div>
                                                    <div class="col-md-9" style="padding:20px; ">
                                                        <span style="font-size: 20px; " >{{item.Name}}</span>
                                                        <br>
                                                        {{item.Prise}} {{item.Currency}}/ {{item.CountType}}
                                                        <br/>
                                                        {{item.Details}}
                                                        
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </div>
                    </ngb-tabset> 
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                       <a routerLink="/home">  back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>